body {
display: flex;
flex-direction: column;
min-height: 100vh;
}

/*   NAVBAR ------------------------------   */

.navbar {
    color: rgb(255, 255, 255);
}
.navbar_imagen {

    width: 6rem;
    height: 3rem;
}

.compra {
    color: #5ad027 !important; 
}

.sr-only {
 color: white !important;
}



/*   IMAGE CAROUSEL ------------------------------   */

.titulo_carousel {

    position: absolute;
    color: rgb(255, 255, 255);
    z-index: 10;
    right: 10%;
    padding-left: calc(40%);
    top: 10em;
    padding-bottom: 10%;
    text-align: right;
}

.botonTranspar {
    width: 30%;
    background-color: transparent;
    color: rgb(252, 252, 252);
    border-color: rgb(255, 255, 255);
    height: 3em;
    border-radius: 4px;
}

.botonTickets{
    width: 30%;
    background: linear-gradient(#5ad027, #a4e788);
    color: rgb(252, 252, 252);
    border-style: none ;
    height: 3em;
    border-radius: 4px;
}


@media screen and (max-width: 800px) {

    .titulo_carousel {
        position: none;
        top: 0px;
        text-align: center;
        padding-bottom: 10%;
        padding-left: 0%;
    }

    .titulo {
        font-size: 20px;
    }

    p {
        font-size: 10px;
    }

    .botonTranspar {
        width: 45%;
        height: 3em;
        font-size: 15px;

    }
    
    .botonTickets{
        width: 45%;
        height: 3em;
        font-size: 15px;

    }


}

@media screen and (max-width: 300px) {

    .titulo_carousel {
        position: none;
        top: 0px;
        text-align: center;
        padding-bottom: 10%;
        padding-left: 0%;
    }

    .titulo {
        font-size: 10px;
    }

    p {
        font-size: 8px;
    }

    .botonTranspar {
        width: 45%;
        height: 3em;
        font-size: 8px;

    }
    
    .botonTickets{
        width: 45%;
        height: 3em;
        font-size: 8px;

    }


}


@media screen and (max-width: 280px) {

    .titulo_carousel {
        position: none;
        top: 0px;
        text-align: center;
        padding-bottom: 10%;
        padding-left: 0%;
    }

    .titulo {
        font-size: 10px;
    }

    p {
        font-size: 8px;
    }

    .botonTranspar {
        width: 48%;
        height: 3em;
        font-size: 7px;

    }
    
    .botonTickets{
        width: 48%;
        height: 3em;
        font-size: 7px;

    }


}


/*   ORADORES ------------------------------   */


.oradores {
    text-align: center;
    margin: auto;
}

.tarjetas {

    width: 90vw;
    margin: auto;

}


.javascript {
    background-color: rgb(248, 248, 63);
    border-style: none;
    border-radius: 10px;

}

.react {
    background-color: rgb(100, 104, 221);
    border-style: none;
    border-radius: 10px;
    color: rgb(255, 255, 255);
}

.negocios {
    background-color: rgb(67, 67, 57);
    border-style: none;
    border-radius: 10px;
    color: rgb(255, 255, 255);
}

.startups {
    background-color: rgb(118, 6, 6);
    border-style: none;
    border-radius: 10px;
    color: rgb(255, 255, 255);
}

/*   COMPRAR ENTRADAS ------------------------------   */

.tickets{
    margin: auto;
    margin-top: 3em;
    width: 70%;
}


.contenedorDescripcion {
    display: flex;
    justify-content: space-between;

}

#descripcion {
    width: 48%;
}

.contenedorCompra{

    display: flex;
    justify-content: space-between;
    margin-bottom: 3em;

}

#sendBuy {
    width: 48%;
}

.btn-compra {

    width: 50%;
    background: linear-gradient(#5ad027, #a4e788);
    color: rgb(252, 252, 252);
    border-style: none ;
    height: 3em;
    border-radius: 8px;
}


#bodyCompra {
    background: linear-gradient(to right, rgb(247, 255, 209),rgb(255, 255, 255));
    text-align: center;
    border-style: none;
}

.resumenFinal {
    display: block;
    width: 100%;
    height: 3em;
    background-color: rgb(176, 207, 250);
    border-radius: 10px;
    color: rgb(79, 79, 250);
    margin-bottom: 4em;

}

#cant {
    width: 48%;
}

#datosCant {
    width: 48%;
}

#sendResumen {
    width: 48%;
}

#sendDelete {
    width: 48%;
}

#tipoDesc {
    width: 48%;
}


#datosApellido {
    width: 48%;
}


h6{
    background-color: rgb(145, 178, 245);
    color: rgb(4, 4, 245);
    font-size: 1em;
    margin-bottom: 3em;
    border-radius: 10px;
    height: 4em;
    text-align: center;
    padding: 1em;
}


/*   FORMULARIO ------------------------------   */


.container_form{
    width: 70%;
    margin: auto;
}

.contenedor {
    display: flex;
    justify-content: space-between;

}

#datos {
    width: 48%;
}



.button-blocke {

    width: 100%;
    background: linear-gradient(#5ad027, #a4e788);
    color: rgb(252, 252, 252);
    border-style: none ;
    height: 3em;
    border-radius: 8px;
    margin-bottom: 3em;
    
}


/*   LUGAR FINAL ------------------------------   */


.lugar {

    width: 90vw;
    margin: auto;
}

.textoPlaya {
    background-color: rgb(63, 63, 63);
    color: rgb(255, 255, 255);
}


.botonPlaya {
    background-color: rgb(63, 63, 63);
    color: rgb(255, 255, 255);
    border-radius: 8px;
    border-color: rgb(255, 255, 255);
}   



/*   FOOTER ------------------------------   */



.foot{
    background: linear-gradient(to right, #28306d, #8088bf); 
}


.flex-container{
    display: flex;
    justify-content: space-evenly;

}

.flex-item {
    color: rgb(255, 255, 255);
    margin-bottom: 2em;
    margin-top: 2em;
    vertical-align: middle;
}

.lineaIndividual {

    margin-top: 2.8em;
}

@media screen and (max-width: 700px) {
    
    .flex-container {
        display: block;
    }
    .flex-item {
        margin: auto;
        text-align: center;
        margin-top: 1em;

    }
    
}

